body, html
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.fs
{
	position: absolute;
	display: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

div#standup div#su1
{
	background-image: url("../resources/images/standup1.png");
}

div#standup div#su2
{
	background-image: url("../resources/images/standup2.png");
	
}

div#standup div#su3
{
	background-image: url("../resources/images/standup3.png");
}

div#standup div#container {
	position: absolute;
	text-align: center;
	width: 230px;
	height: 230px;
	top: 30px;
	right: 60px;
	z-index: 2;
}

div#standup div#remaining
{
	position: absolute;
	width: 100%;
	top: 80px;
	font-size: 50px;
	color: #FF6A5A;
}

div#blank div#container
{
	position: absolute;
	width: 600px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #000000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;
	color: #000000;
	font-size: 22px;
	text-align: center;
	padding-top: 150px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
}
