﻿@page
@model StandupModel
@{
    ViewData["Title"] = "Standup";
}

<div id="standup">
	<div id="su1" class="fs"></div>
	<div id="su2" class="fs"></div>
	<div id="su3" class="fs"></div>
    <div id="container">
        <div id="remaining">@Model.Time</div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000">
            <path id="heart-path" fill-opacity="0" stroke-width="20" stroke="#ED6A5A" d="M982.8,439.1c-1.9-13.9-13.6-37.6-46.7-39.2l-43-2l-0.7,0l-0.7,0c-0.2,0-1.6,0.1-4,0.1c-14.8,0-33.9-2.5-42.8-9.4c-3.5-2.7-86.9-67.3-205.9-76c-1.1-0.1-27.1-2-62.6-2c-50.9,0-120.4,4-162.6,22.9c-1.9,0.9-45.9,21.3-79.1,44.4l-0.3,0.2c-0.4,0.3-39.8,28.9-95.9,36.1c-5.1,0.4-56.6,5.2-109.1,18.6C50.7,453,10.6,482.6,10,520.9l0,0.2l0.1,13.4c-0.1,5.9-0.2,71.6,49.1,93.1l2.9,1.3h56.7c16.5,35.7,52.6,60.6,94.5,60.6s78-24.9,94.5-60.6h386.5c16.5,35.7,52.6,60.6,94.5,60.6c41.9,0,78-24.9,94.5-60.6H916l0.7-0.1c24.6-2.3,71.6-25.2,73.3-95.6l0-17.6C989.9,509.8,989.2,460.6,982.8,439.1z M213.3,659.2c-28.8,0-53.7-16.5-65.9-40.5l-2.8-9.3c-0.1-0.4-8.4-29,2-55.8c7.2-15.2,19.5-27.5,34.6-34.8c8.1-3.1,20.1-6.5,33.6-6.5c12.6,0,24.4,3,35.2,8.9c10.4,6,19.3,14.4,25.7,24.6c6.4,12,14.2,34.5,4.7,63.1l-6,18C261.1,646.4,238.7,659.2,213.3,659.2z M788.8,659.2c-34.5,0-63.5-23.6-71.6-55.6c-1.9-14.2-3.1-49,24.7-72.6c13-11.1,29.7-17.1,46.9-17.1c23.8,0,45.5,11.5,57.8,30.7l0.7,1c0.2,0.2,17.6,24.8,8,64.7l-3.2,13.2C839.2,644.8,815.7,659.2,788.8,659.2z M959.8,532.6c-1.4,57.2-38.7,65.1-45.4,66H892c0.6-4.3,0.9-8.8,0.9-13.3c0-57.4-46.7-104.1-104.1-104.1S684.7,528,684.7,585.3c0,4.5,0.3,8.9,0.9,13.3H316.5c0.6-4.3,0.9-8.8,0.9-13.3c0-20.2-5.8-39.1-15.9-55.1c-4.7-8.5-8.9-13.4-9.4-13.9l-0.5-0.5c-8.3-8.6-17.3-15.6-27-20.9c-15.1-8.6-32.6-13.6-51.3-13.6c-15.4,0-30.1,3.4-43.3,9.5c-8.8,3.4-14.2,6.5-14.6,6.8l-0.5,0.3c-17.9,11.6-29,26.9-35.6,42.9c-6.4,13.5-10,28.6-10,44.5c0,4.5,0.3,8.9,0.9,13.3H68.7c-29.1-15.4-28.4-63.1-28.3-63.6l0-0.3l-0.1-13.5c1-41.4,118.1-69.9,201.1-76.9l0.6-0.1c62.8-8,106.3-38.8,110.1-41.6c31-21.6,73.9-41.5,74.2-41.6c37.2-16.7,102.2-20.2,150.1-20.2c34.4,0,60.2,1.9,60.4,1.9c109.4,8.1,188.7,69.1,189.5,69.7c17.7,13.7,46,15.8,61.4,15.8c2.2,0,3.8,0,4.7-0.1l42.3,1.9c15,0.7,17.8,9.8,18.2,13.4l0,1.5l0.7,2c4,12.1,5.9,48.6,6.1,68.6V532.6z"/>
        </svg>
    </div>
</div>

@*
<div id="timer">@Model.Time</div>
<input type="button" id="startButton" value="Start timer" />
<input type="button" id="stopButton" value="Stop timer" />
<input type="button" id="nextButton" value="Next page" />
*@

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/standup.js"></script>
    <script type="text/javascript">
        var standup = new Standup(@Model.Page - 1, @Model.Time);
    </script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/standup.css" />
}
